@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

:root{
  --Gold: hsl(39, 89%, 49%);
  --Gold1: hsl(28, 76%, 44%);
  --Blue: hsl(230, 89%, 62%);
  --Blue1: hsl(229, 64%, 46%);
  --Red: hsl(349, 71%, 52%);
  --Red1: hsl(347, 75%, 35%);
  --Purple: hsl(261, 73%, 60%);
  --Purple1: hsl(261, 51%, 44%);
  --Lightblue: hsl(189, 59%, 53%);
  --Lightblue1: hsl(194, 58%, 42%);
  --Navy: hsl(229, 25%, 31%);
  --Blue2: hsl(229, 64%, 46%);
  --Gray: hsl(246, 11%, 37%);
  --Radial1: hsl(214, 47%, 23%);
  --radial2: hsl(237, 48%, 15%);
}