.Rules{
    background: white;
    position: absolute;
    left: 38%;
    top: 30%;
    padding: 2rem
}
.Rules>div{
    display: flex;
    justify-content: space-between;
}
.Rules>img{
    margin-top: 2rem;
}